<% provide :title, t(".title") %>
<img src="assets/banner1" class="d-block w-100" alt="">
<b><%= t ".introducing" %></b>
<p class="mt-2"><%= t ".content" %></p>
<h5 class="mt-2 mb-2">
  <b>II. <%= t ".functions" %></b>
</h5>
<b class="mt-2">1. <%= t ".function_1" %></b>
<p class="mt-2"></p>
<b class="mt-2">2. <%= t ".function_2" %></b>
<p class="mt-2"></p>
<b class="mt-2">3. <%= t ".function_3" %></b>
<p class="mt-2"></p>
