<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link" href="/admin/report">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          <%= t("admin.layouts.statistical") %>
        </a>
        <div class="sb-sidenav-menu-heading"><%= t("admin.layouts.manage") %></div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
					data-bs-target="#collapseLayouts" aria-expanded="false"
					aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          <%= t("admin.layouts.account") %>
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseLayouts"
					aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/account"><%= t("admin.layouts.add_account") %></a> <a
							class="nav-link" href="/admin/account_views"><%= t("admin.layouts.account_list") %></a>
          </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
					data-bs-target="#collapseLayout" aria-expanded="false"
					aria-controls="collapseLayout">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          <%= t("admin.layouts.items") %>
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseLayout"
					aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/category"><%= t("admin.layouts.add_categories") %></a> <a
							class="nav-link" href="/admin/category_views"><%= t("admin.layouts.category_list") %></a>
          </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
					data-bs-target="#collapseLayou" aria-expanded="false"
					aria-controls="collapseLayou">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          <%= t("admin.layouts.products") %>
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseLayou"
					aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/product_new"><%= t("admin.layouts.add_product") %></a> <a
							class="nav-link" href="/admin/product_views"><%= t("admin.layouts.product_list") %></a>
          </nav>
        </div>
        <a class="nav-link collapsed" href="/admin/oder">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          <%= t("admin.layouts.orders_list") %>
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>
