<% provide :title, t(".title_home") %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/banner1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/banner2" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="row mt-2">
  <div class= "col-6">
    <div class="row">
      <div class="col-5">
        <input class="form-control" name="min" value="" placeholder="Min Price">
      </div>
      <div class="col-5">
        <input class="form-control" name="max" value="" placeholder="Max Price">
      </div>
      <div class="col-2">
        <%= link_to t("layouts.header.search"), home_path, class: "btn btn-secondary", type: "button" %>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>
  <div class="col-5">
    <div class="row">
      <div class="col-2 mt-2">
        <%= t ".category" %>
      </div>
      <div class="col-6">
        <%= select_tag "@categorys",  options_for_select(@categorys.each{|name, id|[ name, id]}), {:class =>"form-select"} %>
      </div>
      <div class="col-4">
        <%= link_to t("layouts.header.search"), home_path, class: "btn btn-secondary", type: "button" %>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <%= render "home_product" %>
</div>
