<% provide :title, t(".title") %>
<div class="row mt-5 mb-5">
  <div class="col-2 mr-5"></div>
  <div class="col-4 detail_img">
    <%= image_tag @product.image, class: "size_img card-img-top hvr-grow-shadow" %>
  </div>
  <div class="col-4">
    <h2><%= @product.name %></h2>
    <br />
    <div>
      <h5>
        <%= t(".price") %>
        <%= number_to_currency(@product.price) %>
      </h5>
    </div>
    <br />
    <h5><%= t("static_pages.home.category") %>: <%= @product.category_name %></h5>
    <div><%= t(".detail_content") %></div>
    <div class="mt-2">
      <h5><%= t ".size " %></h5>
      <div> <%= t ".size_s_m" %></div>
      <div> <%= t ".size_s" %> <%= Settings.size.size_s %></div>
      <div><%= t ".size_m" %> <%= Settings.size.size_m %></div>
      <div><%= t ".size_l" %> <%= Settings.size.size_l %></div>
      <div><%= t ".size_xl" %> <%= Settings.size.size_xl %></div>
      <div><%= t ".size_xxl" %> <%= Settings.size.size_xxl %></div>
    </div>
    <br />
    <div class="mt-4">
      <%= link_to t("static_pages.home.buy"), home_path, class: "btn btn-danger mx-2 mb-2", type: "button" %>
    </div>
  </div>
  <div class="col-2"></div>
</div>
