<div class="container-fluid">
  <footer style="background-color: rgb(32, 30, 30); margin-top:20px" class="footer">
    <div class="footer-nav px-5 pt-4">
      <div class="row">
        <div class="col-6 col-lg-2 col-sm-6 col-md-4">
          <h5 class="text-success"><%= t(".overview") %></h5>
          <p class="text-white"><%= t(".introducee") %></p>
        </div>
        <div class="col-6 col-lg-2 col-sm-6 col-md-4">
          <h5 class="text-success"><%= t(".pay") %></h5>
          <p class="text-white"><%= t(".live") %></p>
          <p class="text-white">Online</p>
        </div>
        <div class="col-6 col-lg-2 col-sm-6 col-md-4">
          <h5 class="text-success"><%= t(".address") %></h5>
          <p class="text-white"><%= t(".address_shop") %></p>
        </div>
        <div class="col-6 col-lg-2 col-sm-6 col-md-4">
          <h5 class="text-success"><%= t(".Link") %></h5>
          <p class="text-white">Facebook</p>
          <p class="text-white">Zalo</p>
        </div>
        <div class="col-6 col-lg-2 col-sm-6 col-md-4">
          <h5 class="text-success"><%= t("layouts.footer.customercare") %></h5>
          <p class="text-white">Email: cskh@gmail.vn</p>
        </div>
        <div class="col-6 col-lg-2 col-sm-6 col-md-4">
          <h5 class="text-success">Help</h5>
          <p class="text-white"><%= t("layouts.footer.Contactus") %></p>
        </div>
      </div>
    </div>
    <div class="text-center text-white mt-5">Copyright © 2021 by SHOP.net</div>
  </footer>
</div>
